<div class="container">
  <div class="card w-100 mb-3">
    <div class="card-header d-flex justify-content-between">
      <span>{{subscription.bookName}}</span>
      <a class="btn btn-dark" href="subscriptions" role="button">Back</a>
    </div>
    <div class="card-body text-center">
      <p class="card-text">{{subscription.bookText}}</p>
      <p class="card-text">R{{subscription.bookPurchasePrice}} per month.</p>
    </div>
    <div class="card-footer text-center text-body-secondary">
      <a href="#" class="btn btn-dark">Unsubscribe</a>
    </div>
  </div>
</div>
