<div class="container">
  <div class="card w-100 mb-3">
    <div class="card-header d-flex justify-content-between">
      <span>{{book.name}}</span>
      <a class="btn btn-dark" href="home" role="button">Back</a>
    </div>
    <div class="card-body text-center">
      <p class="card-text">{{book.text}}</p>
      <p class="card-text">R{{book.purchasePrice}} per month.</p>
    </div>
    <div class="card-footer text-center text-body-secondary">
      <a href="confirm-subscription/{{book.id}}" class="btn btn-dark">Subscribe</a>
    </div>
  </div>
</div>
