<div class="container text-center d-flex justify-content-center">
  <form style="width: 18rem;">
    <div *ngIf="email != ''" class="mb-3">
      <div class="alert alert-success" role="alert">
        Registeration successful please login.
      </div>
    </div>
    <h5>Login</h5>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" name="email" [ngModel]="email" (ngModelChange)="setEmail($event)" class="form-control"
        id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" name="password" [ngModel]="password" (ngModelChange)="setPassword($event)"
        class="form-control" id="exampleInputPassword1">
    </div>
    <button (click)="login()" type="submit" class="btn btn-dark me-2" aria-disabled="submitting">Submit</button>
    <a href="#" class="btn btn-dark" aria-disabled="submitting">Cancel</a>
  </form>
</div>
